# Binaries and executables
zyra
*.exe
*.exe.log
*.dll
*.so
*.dylib

# Database files
*.db
*.sqlite
*.sqlite3

# Build and dist outputs
dist/
build/
tmp/
node_modules/

# Environment files
.env
.env.local

# IDE and OS
.DS_Store
.vscode/
.idea/
